<app-menu></app-menu>
<section id="signupSection">
    <div class="container">
      <div id="FormErrors">
          <ng-container *ngIf="this.errors !== undefined" >
              <p *ngFor="let message of this.errors">{{message}}</p>
          </ng-container>
      </div>

        <div class="container-title">
            <h2>{{user.username}}</h2>
            <p> Roles:  </p>
            <ul>
                <li *ngFor="let role of user.roles" style="color: #000;">{{ role.name }}</li>
            </ul>
        </div>
        <form id="signupForm">
            
            <input type="hidden"  id="username" placeholder="ex : toto28" name="username"  [(ngModel)]="user.username"  #username="ngModel" required>
           
            <input type="hidden"  placeholder="Enter Password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>            
            
            <input type="hidden"  id="email" placeholder="ex : saitama@heroassociation.gov" name="email" [(ngModel)]="user.email" #email="ngModel" required> 
            
            <mat-form-field >
                
                <label>Modifier Role</label> 
                <mat-select   id="role" name="role" [(ngModel)]="user.role" #role="ngModel" multiple="true">
                  <mat-option value="trad">TRANSLATOR</mat-option>
                  <mat-option value="admin">ADMIN</mat-option>
                  <mat-option value="user">USER</mat-option>
                </mat-select>
            </mat-form-field>
               
            <button type="submit" (click)="signUp()">Valider</button>

            <a class="back" [routerLink]="['/admin']"  alt="Annuler"
            title="Annuler" style="border-radius: 10px; font-style: normal; font-size: 20px;">Annuler</a>    
           
        </form>
        
    </div>

</section>
