<nav id="admin-nav">
    <ul>
     
<li><a [routerLink]="['/author-manage']" alt="Auteurs" title="Auteurs">Auteurs</a> </li>
<li><a [routerLink]="['/category-manage']" alt="Categories" title="Categories">Categories</a></li>
<li><a [routerLink]="['/chapter-manage']" alt="Chapitres" title="Chapitres">Chapitres</a></li>
<li><a [routerLink]="['/diwan-manage']" alt="Diwans" title="Diwans">Diwans</a></li>
<li> <a [routerLink]="['/module-manage']" alt="Modules" title="Modules">Modules</a></li>
<li><a [routerLink]="['/oeuvre-manage']" alt="Oeuvre" title="Oeuvre">Oeuvre</a></li>
<li><a [routerLink]="['/ver-manage']" alt="Vers" title="Vers">Vers</a></li>
<li><a [routerLink]="['/']" alt="Themes" title="Themes">Themes</a> </li>
    
   
    </ul>
  
  </nav>
  
