<app-menu></app-menu>
<section>
<div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img [src]="imageUrl">
      </div>
      <div class="card-stacked">
        <div class="card-title">
            <p>{{ object.name }}</p>
        </div>
        <div class="card-content">
          <p>{{ object.biography }}</p>
        </div>
        <div *ngIf="object.link" class="card-action">
          <a href="{{ object.link }}">Detail</a>
        </div>
      </div>
    </div>
  </div>
</section>
