<app-menu></app-menu>
<section id="pageAdmin">
   
    <div>        
        <div id="admin-content">
            <div id="admin-items">
                <h3 style="margin-top: 50px;">Gestion des chapitres</h3>
                <div>
                    <a [routerLink]="['/add-chapter']"  class="btn-floating btn-large waves-effect waves-light plusIcon"><i class="material-icons">add</i></a>
                </div>
              
                <div *ngFor="let chapter of pageOfItems" class="adminItem">                   
                    <p class="estateTitle">{{ chapter.title }}</p>       
                    <p class="estateTitle">{{ chapter.theme }}</p>
                    <p class="estateTitle">{{ chapter.chapterType }}</p>                    
                    <input class="estateId" type="hidden" [value]="chapter.chapterId">
                    <div class="estateOptions">
                        <div (click)="editItem(chapter)" ><span class="material-icons">create</span></div>
                        <div (click)="goDetails(chapter)" ><span class="material-icons">visibility</span></div>
                        <div (click)="deleteFrom(chapter)"><span class="material-icons">clear</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)" [pageSize]="4"></jw-pagination>
    </div>    
</section>
 
