<section>
<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Rechercher dans la bibliothèque" #input> 
       <!--<span id="clearButton" class="material-icons" *ngIf="searchText" (click)="clear()">clear</span>-->
       <button type="submit" class="searchButton">
        <span class="material-icons">search</span>
      </button>
    </div>
 </div> 

<div>
</div>





<ng-container  *ngIf="filtred">

<mat-card *ngFor="let oeuvre of filtredOeuvres; let i=index">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title (click)="viewTraduc(oeuvre)">{{ oeuvre.titreOeuvre }}</mat-card-title>
    <mat-card-subtitle (click)="goDetails(oeuvre)">{{ oeuvre.titre }} </mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image></div>
  <mat-card-content>
    <p (click)="viewVers(oeuvre.versId)">
      <span *ngIf="oeuvre.texteVersAR1"> {{ oeuvre.texteVersAR1 }} </span><br>
      <span *ngIf="oeuvre.texteVersAR2"> {{ oeuvre.texteVersAR2 }} </span><br>
      <span *ngIf="oeuvre.texteVersAR3"> {{ oeuvre.texteVersAR3 }} </span><br>
      <span *ngIf="oeuvre.texteVersAR4"> {{ oeuvre.texteVersAR4 }} </span><br>
    </p>
  </mat-card-content>

</mat-card>
</ng-container>

<div id="controls">
  <a mat-flat-button (click)="preview()" [ngClass]="{'disabled': disablePrev()}">précédent</a>
  <a mat-flat-button (click)="next()" [ngClass]="{'disabled': disable()}">suivant</a>
</div>
</section>


 
