

.search {
    width: 70vw !important;
    position: relative;
    display: flex;
   
  }
  input{
    background-color: #fff !important;  
  }
  
  .searchTerm {
    width: 60vw !important;
    border: 3px solid #a8b9bb;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #a8b9bb;
  }
  
  .searchTerm:focus{
    color: #a8b9bb;
  }
  
  .searchButton {
    width: 40px;
    height: 43px;
    border: 1px solid#a8b9bb;
    background: #a8b9bb;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 70vw;
    margin: 0em 5em;
    padding-top: 15vh;
    text-align: center;
    }
    .wrap span {
        font-size: 40px;
    } 

    
.mat-expansion-panel {
    margin-top: 1.5em;
    background-color: rgba(2, 6, 8, 0.2); /* 0.0 - transparent */
}
.colored{
    background-color: #558303 !important;
    color: #fff;
}
.mat-expansion-panel p {
    margin-top: 2.5em;
}

#pageTitle{
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }

 #pageTitle span {
     font-size: 45px;
 } 

  #meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000;
  }
   #meta a, a:active, a:hover {
       color: #fff;
       margin: 5px 10px;
   }

   mat-accordion {
       padding: 1em 1em !important;
   }
  
   div.collection {
    margin: 1em 1em;
  }

   .collection span {
    position: absolute;
    right: 10% !important;
   }

   div p {
    margin: 0.5em 0.5em !important;
  }

 .simple {    
    background-color: #FFF;
    color: #000 !important;
 }
 .collection span {
  position: absolute;
  right: 2% !important;
 }



