

.search {
    width: 80vw !important;
    position: relative;
    display: flex;
    height: 50px !important;
  }
  input{
    height: 50px !important;
    background-color: #fff !important;  
  }
  
  .searchTerm {
    width: 80vw !important;
    border: 3px solid #a8b9bb;
    border-right: none;
    padding: 0px 5px !important;
    
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #a8b9bb;
  }
  
  .searchTerm:focus{
    color: #a8b9bb;
  }
  
  .searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid#a8b9bb;
    background: #a8b9bb;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 80vw;
    margin: 2em auto !important;
    padding: 2.5em auto;
    text-align: center;
    }
    .wrap span {
        font-size: 40px;
    } 

    
.mat-expansion-panel {
    margin-top: 1.5em;
    background-color: rgba(2, 6, 8, 0.2); /* 0.0 - transparent */
}
.colored{
    background-color: #558303 !important;
    color: #fff;
}
.mat-expansion-panel p {
    margin-top: 2.5em;
}

#pageTitle{
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }

 #pageTitle span {
     font-size: 45px;
 } 

  #meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000;
  }
   #meta a, a:active, a:hover {
       color: #fff;
       margin: 5px 10px;
   }

   mat-accordion {
       padding: 1em 1em !important;
   }
  
   div.collection {
    margin: 1em 0.5em;
    display: flex;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
    justify-content: space-between;
    border-radius: 0.7em;
    padding: 0.5em 0.2em;
    width: 95vw !important;
  }
 
  p span{
    padding: 0.1em 1em;
  }
  div p {
    margin: 0.5em 0.5em !important;
  
  }
  

 .simple {    
    background-color: #FFF;
    color: #000 !important;
 }

p, span {
  cursor: pointer;
}

section {
  margin-bottom: 5rem !important;
  padding-bottom: 5rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          padding-top: 0 !important;
          margin-top: 0 !important;

}


@media only screen and (min-width: 1200px) {
 
}


@media only screen and (min-width: 800px) {

  .search, .wrap {
    width: 600px !important;
    position: relative;
    display: flex;   
  }
  .searchTerm {
    width: 600px!important;    
  } 
  div.collection {
       width: 600px !important;
       padding: 1em 0.2em;
       font-size: 18px !important; 
  }
}

.disabled {
  display: none !important;
}