<section>
<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" (change)="onUploadChange($event)" [(ngModel)]="searchText" placeholder="Rechercher dans la bibliothèque">
       <button type="submit" class="searchButton">
        <span class="material-icons">search</span>
      </button>
    </div>
 </div> 

 <div *ngFor="let oeuvre of allOeuvres; let i=index" [ngClass]="{'colored': i % 2 != 0, 'simple' : i % 2 == 0, collection:true}" >
  <p (click)="viewTraduc(oeuvre)"> {{ oeuvre.titreOeuvre }}  </p><span (click)="goDetails(oeuvre)"> {{ oeuvre.titre }} </span> <div *ngIf="isAdmin" (click)="editItem(oeuvre)" ><span class="material-icons">create</span></div>
</div>
<div>
</div>
<div id="controls">
  <a mat-flat-button (click)="preview()" [ngClass]="{'disabled': disablePrev()}">précédent</a>
  <a mat-flat-button (click)="next()" [ngClass]="{'disabled': disable()}">suivant</a>
</div>
</section>

<app-loader></app-loader>
 
