<section class="adminDashboard">
 
    <div (click)="navigate('add-author')" class="example-small-box mat-elevation-z4">
        Auteurs
    </div>
  
 
    <div (click)="navigate('add-category')" class="example-small-box mat-elevation-z4">
        Categories
    </div>
  
 
    <div (click)="navigate('add-chapter')" class="example-small-box mat-elevation-z4">
        Chapitres
    </div>
  
 
    <div (click)="navigate('add-diwan')" class="example-small-box mat-elevation-z4">
        Diwans
    </div>
  
 
    <div (click)="navigate('add-module')" class="example-small-box mat-elevation-z4">
        Modules
    </div>
  
 
    <div (click)="navigate('add-oeuvre')" class="example-small-box mat-elevation-z4">
        Oeuvres
    </div>
  
 
    <div (click)="navigate('add-ver')" class="example-small-box mat-elevation-z4">
        Vers
    </div>
  

</section>