<section id="pageAdmin">
   
    <div>        
        <div id="admin-content">
            <div id="admin-items">
                <h3 style="margin-top: 50px;">Gestion des categories</h3>
                <div>
                    <a [routerLink]="['/add-category']"  class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
                </div>
                <div *ngFor="let category of categories" class="adminItem">
                   
                    <p class="estateTitle">{{ category.name }}</p>                   
                    <input class="estateId" type="hidden" [value]="category.categoryId">
                    <div class="estateOptions">
                        <div (click)="editItem(category)" ><span class="material-icons">create</span></div>
                        <div (click)="goDetails(category)" ><span class="material-icons">visibility</span></div>
                        <div (click)="deleteFrom(category)"><span class="material-icons">clear</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
    
</section>

