<div id="module_grid">
<div>
    <h2 class="title">Circle</h2>

    <img src="../../../assets/images/image_test.JPG" class="circle responsive-img" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Circle</h2>
</div>
<div>
    <h2 class="title">Circle</h2>

    <img src="../../../assets/images/image_test.JPG" class="circle responsive-img" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Circle</h2>
</div>
<div>
    <h2 class="title">Circle</h2>

    <img src="../../../assets/images/image_test.JPG" class="circle responsive-img" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Circle</h2>
</div>
<div>
    <h2 class="title">Circle</h2>

    <img src="../../../assets/images/image_test.JPG" class="circle responsive-img" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Circle</h2>
</div>
</div>