<div id="module_grid">
<div>
    <h2 class="title">Module Name AR</h2>

    <img src="../../../assets/images/ecrits.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Module Name FR</h2>
</div>
<div>
    <h2 class="title">Module Name AR</h2>

    <img src="../../../assets/images/oeuvres.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Module Name FR</h2>
</div>
<div>
    <h2 class="title">Module Name AR</h2>

    <img src="../../../assets/images/rechercher.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Module Name FR</h2>
</div>
<div>
    <h2 class="title">Module Name AR </h2>

    <img src="../../../assets/images/media.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Module Name FR</h2>
</div>
</div>