#module_grid{    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  #module_grid div {
      margin: 2em 1em;
      text-align: center;
      width: 8em; 
  }

  .title {
    height: 3em;
    color: #fff;
    font-size: medium;
    
}
img {
    border: 5px solid  #558303;
}

@media only screen and (min-width: 481px) {
    #module_grid div {
        margin: 2em 2em;
        text-align: center;
        width: 8em; 
    }

}


