
<section id="signupSection">
    <div class="container">
      <div id="FormErrors">
          <ng-container *ngIf="this.errors !== undefined" >
              <p *ngFor="let message of this.errors">{{message}}</p>
          </ng-container>
      </div>

        <div class="container-title" *ngIf="!isSaved">
            <h2>S&rsquo;inscrire</h2>
            <a [routerLink]="['/login']" alt="Se connecter" title="Connexion">ou se connecter</a>
        </div>
        <form id="signupForm" *ngIf="!isSaved">
            <label for="username"><b>Identifiant</b></label>
            <input type="text" id="username" placeholder="ex : serigne28" name="username"  [(ngModel)]="newUser.username" required>
            <label for="first"><b>Mot de passe</b></label>
            <input type="password" placeholder="Entrer mot de passe" id="password" name="password" [(ngModel)]="newUser.password" required>            
            <label for="email"><b>Email</b></label>
            <input type="text" id="email" placeholder="ex : serigne28@gmail.com" name="email" [(ngModel)]="newUser.email" required>

                 
               
            <button type="submit" (click)="signUp()">Inscription</button>
           
        </form>
        
    </div>

</section>

