<app-menu></app-menu>
<section id="pageAdmin">
   
    <div>        
        <div id="admin-content">
            <div id="admin-items">
                <h3 style="margin-top: 50px;">Gestion des auteurs</h3>
                <div>
                    <a [routerLink]="['/add-author']"  class="btn-floating btn-large waves-effect waves-light plusIcon"><i class="material-icons">add</i></a>
                </div>
                <div *ngFor="let author of pageOfItems" class="adminItem">
                   
                    <p class="estateTitle">{{ author.name}}</p>
                    <!--<p class="estateCountry">{{ estate.description}}</p>-->
                    <input class="estateId" type="hidden" [value]="author.authorId">
                    <div class="estateOptions">
                        <div  (click)="editItem(author)"><span class="material-icons">create</span></div>
                        <div (click)="goDetails(author)" ><span class="material-icons">visibility</span></div>
                        <div (click)="openModal(author)"><span class="material-icons">clear</span></div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)" [pageSize]="4"></jw-pagination>
    </div>  
</section>
