<div id="module_grid">
  <div>
    <h2 class="title">Récits oraux AR</h2>

    <img src="../../../assets/images/recits.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Récits oraux FR</h2>
  </div>
  <div>
    <h2 class="title">Sermons AR</h2>

    <img src="../../../assets/images/sermons.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Sermons FR</h2>
  </div>
  <div>
    <h2 class="title">Conférences AR</h2>

    <img src="../../../assets/images/conferences.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Conférences FR</h2>
  </div>
  <div>
    <h2 class="title">Musicographie AR </h2>

    <img src="../../../assets/images/musicographie.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Musicograhie FR</h2>
  </div>
  <div>
    <h2 class="title">Biographie AR </h2>

    <img src="../../../assets/images/biographie.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Biographie FR</h2>
  </div>
  <div>
    <h2 class="title">Poésie AR </h2>

    <img src="../../../assets/images/poesie.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Poésie FR</h2>
  </div>
  <div>
    <h2 class="title">Wolofal AR </h2>

    <img src="../../../assets/images/wolafal.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Wolofal FR</h2>
  </div>
  <div>
    <h2 class="title">Manuscrits AR </h2>

    <img src="../../../assets/images/manuscrits.jpg" class="circle module" alt="Cinque Terre" width="100" height="100">
    <h2 class="title">Manuscrits FR</h2>
  </div>
</div>
