<div class="image">
    <!--<a *ngIf="getRoute()"><span id="backClicked" class="material-icons" (click)="backClicked()">keyboard_backspace
        </span></a>-->
      
    <ng-container *ngIf="logged">    
    <app-main-menu></app-main-menu>
    </ng-container>
    <nav  id="guest-nav">
    <ng-container *ngIf="!logged">
        <a [routerLink]="['/register']" alt="S'inscrire" title="S'inscrire">Sign-up</a>
        <a [routerLink]="['/guest-login']" alt="Se connecter" title="Se connecter">Login</a>
    </ng-container>
    </nav>    
    <router-outlet></router-outlet>
</div>
