#backClicked {
    color: #000 !important;
    font-weight: 900;
    font-size: xx-large;
    position: absolute;
    top: 0.2em;
}

.image {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 150vh;
    background-position:center center; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image:url('src/assets/images/bnd.jpg');
}

