#backClicked {
    color: #fff !important;
    font-weight: 900;
    font-size: xx-large;
    position: absolute;
    top: 0.2em;
}

.image {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 120vh;
    background-position:center center; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image:url('src/assets/images/Bgrnd_1080_1920.png');
}

@media only screen and (max-width: 767px) {
    .image {
     
      background-image: url('src/assets/images/Bgrnd_828_1792.png');
    }
  }

 
