.mat-expansion-panel-header{
    min-height: 60px !important;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
    margin-right: 5px !important;
}

 p#description {
    background-color: #fff !important;
    color: #000 !important;
    padding: 1rem 1rem !important;
    margin: 0 !important;
}

