

.search {
    width: 100%;
    position: relative;
    display: flex;

  }
  input{
    background-color: #fff !important;  

  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #a8b9bb;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #a8b9bb;
  }
  
  .searchTerm:focus{
    color: #a8b9bb;
  }
  
  .searchButton {
    width: 40px;
    height: 45px;
    border: 1px solid#a8b9bb;
    background: #a8b9bb;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 70vw;
    padding: 20px 20px
     }
.mat-expansion-panel {
    margin-top: 1.5em;
    background-color: rgba(2, 6, 8, 0.2); /* 0.0 - transparent */
}
.colored{
    background-color: #558303 !important;
    color: #fff;
}
.mat-expansion-panel p {
    margin-top: 2.5em;
}

#pageTitle{
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }

 #pageTitle span {
     font-size: 40px;
 } 

  #meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000;
  }
   #meta a, a:active, a:hover {
       color: #fff;
       margin: 5px 10px;
   }



   .collection .collection-item.active {
    background-color: #558303 !important;
   }
   
 .panel {
     margin: 1em 2em;
     padding: 1em 0.5em;
     padding-bottom: 4em;
     background-color: rgba(2, 6, 8, 0.2); /* 0.0 - transparent */

   }


li {counter-increment: li;}

div.collection {
  margin: 1em 0.5em;
  display: flex;
  flex-direction: row;
  display: flex;
  display: -webkit-box;
display: -ms-flexbox;
  -ms-flex-line-pack: center;
  align-content: center;
-webkit-box-align: start;
  -ms-flex-align: start;
      align-items: flex-start;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
  -ms-flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
  border-radius: 0.7em;
  padding: 0.1em 0.2em;

}

 div.meta {
  margin: 0.5em 0.5em;
  border-radius: 0.7em;
  padding: 0.2em;
  border: none !important;
  color: #000;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7); /* 0.0 - transparent */

}

@media only screen and (min-width: 800px) {
  div.collection, div.meta {         
       padding: 1em 0.2em;
       font-size: 18px !important; 
  }
}
