<app-menu></app-menu>
<section>
<ul class="collection">
    <li class="collection-item avatar">
      <span class="title">Titre</span>
      <p>{{object.title}} <br>
      </p>
    </li>
    <li class="collection-item avatar">
      <span class="title">Type</span>
      <p>{{object.chapterType}}<br>
      </p>
    </li>
    <li class="collection-item avatar">
      <span class="title">Thème</span>
      <p> {{object.theme}} <br>
      </p>
    </li>
    <li class="collection-item avatar">
      <span class="title">Plage vers</span>
      <p>{{object.plageVers}}<br>
      </p>
    </li>
  </ul>

</section>
