
<section id="signupSection">
    <div class="container">
      <div id="FormErrors">
          <ng-container *ngIf="this.errors !== undefined" >
              <p *ngFor="let message of this.errors">{{message}}</p>
          </ng-container>
      </div>

        <div class="container-title" *ngIf="!isSaved">
            <h2>S&rsquo;inscrire</h2>
            <a [routerLink]="['/login']" alt="Se connecter" title="Connexion">ou se connecter</a>
        </div>
        <form id="signupForm" *ngIf="!isSaved">
            <label for="username"><b>Identifiant</b></label>
            <input type="text" id="username" placeholder="ex : toto28" name="username"  [(ngModel)]="newUser.username" required>
            <label for="first"><b>Mot de passe</b></label>
            <input type="password" placeholder="Enter Password" id="first" name="first" [(ngModel)]="newUser.password" required>            
            <label for="email"><b>Email</b></label>
            <input type="text" id="email" placeholder="ex : saitama@heroassociation.gov" name="email" [(ngModel)]="newUser.email" required>

            <mat-form-field >
                <label>Role</label>
                <mat-select   id="role" name="role" [(ngModel)]="newUser.role" multiple="true">
                  <mat-option value="user">USER</mat-option>
                  <mat-option value="trad" >TRANSLATOR</mat-option>
                  <mat-option value="admin">ADMIN</mat-option>
                </mat-select>
            </mat-form-field>
            
               
            <button type="submit" (click)="signUp()">Inscription</button>
           
        </form>
        
    </div>

</section>
