/* You can add global styles to this file, and also import other style files 
@import '@angular/material/prebuilt-themes/purple-green.css';*/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #fff;}

@font-face {
  font-family: "Traditional Arabic";
  src: url('/assets/fonts/trado.ttf') format("truetype");
}
/*body {  background-position:center center; 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image:url('../src/assets/images/bnd.jpg');}*/
  

.mat-select-panel {
  /*background: none !important;*/
  color: #fff !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #fff !important;
}

#pageAdmin {
  display: flex;
  flex-direction: row;
}


/* All Dashboard */
#admin-content #admin-items {
    /*background-color: #fff;*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2rem 1rem;
    margin-bottom: 5rem;
    height: auto;
    /*min-height: 100vh;
    /*width: 100%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
    justify-content: space-around;  
  }
  

  #admin-content {
    position: relative;
    margin: 1rem auto !important;
    width: 96vw;
  }
  
  #admin-items {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transition: -webkit-filter ease 0.5s;
    transition: -webkit-filter ease 0.5s;
    -o-transition: filter ease 0.5s;
    transition: filter ease 0.5s;
    transition: filter ease 0.5s, -webkit-filter ease 0.5s;
  }
  

  #admin-content #admin-items .adminItem {
    margin: 5px auto;
    background-color: #007470;
  }
  
  #admin-content #admin-items .adminItem {
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #admin-content #admin-items .adminItemValidated {
  
    background-color:lightseagreen;
    color:#fff;
  }
  
  
  
  #admin-content #admin-items .adminItem {
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
    -webkit-transition: -webkit-box-shadow ease 0.5s;
    transition: -webkit-box-shadow ease 0.5s;
    -o-transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s, -webkit-box-shadow ease 0.5s;
  }
  
  #admin-content #admin-items .adminItem:hover {
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow ease 0.5s;
    transition: -webkit-box-shadow ease 0.5s;
    -o-transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s, -webkit-box-shadow ease 0.5s;
  }
  

  
  
  #admin-content #admin-items .adminItem .estateOptions {
    background-color: #007470;
    height: 45px;
    width: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0;
  
  }
  
  #admin-content #admin-items .adminItem .estateOptions div {
    display: block;
    height: 30px;
    margin-left: 15px;
    width: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
    -webkit-transition: -webkit-box-shadow ease 0.5s;
    transition: -webkit-box-shadow ease 0.5s;
    -o-transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s, -webkit-box-shadow ease 0.5s;
    cursor: pointer;
  }
  
  #admin-content #admin-items .adminItem .estateOptions div:hover {
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    -webkit-transition: -webkit-box-shadow ease 0.5s;
    transition: -webkit-box-shadow ease 0.5s;
    -o-transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s;
    transition: box-shadow ease 0.5s, -webkit-box-shadow ease 0.5s;
  }
  
 
  
  #admin-content #admin-items .adminItem .estateOptions .seeEstate {
    background-color: orange;
  
  }
  
  #admin-content #admin-items .adminItem .estateOptions .clearEstate {
    background-color: orangered;
    margin-right: 15px;
  }



  
  #admin-content #admin-items .adminItem .estateTitle {
    font-weight: 700;
    font-size: 16px;
  }

  /* All Forms*/
  
  section {
    width: 100%;
    height: 100%;
    /*background-color:#fff;*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 1em;
  }
  
  #add-estate {
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  
  
   .add-estate-form {
    width: 100%;
   /* height: auto;*/
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(0, 114, 112, 0.2);
    padding: 10px;
    border-radius: 4px;
    /*-webkit-box-shadow: 1px 1px 2px rgba(0, 114, 112, 0.5);
            box-shadow: 1px 1px 2px rgba(0, 114, 112, 0.5);*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px auto 10px;
  }
  
  #add-estate .add-estate-form .addEstateLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  
  }
  
  
  
  #add-estate .add-estate-form .addEstateDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  
  }
  
 
  
  
  
  
  #add-estate .add-estate-form .addEstateLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px auto;
  }
  
  #add-estate .add-estate-form .addEstateLine .addEstateItem {
    margin-right: 20px;
  
  }
  
  #add-estate .add-estate-form .addEstateLine .addEstateItem input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #007792;
    /*height:35px;*/
  
  }
  
  #add-estate .add-estate-form .addEstateLine .addEstateItem input:focus {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid #007792;
    -webkit-box-shadow: 0 0 1px #007792;
            box-shadow: 0 0 1px #007792;
    outline-color: rgba(0, 119, 146, 1);
    outline-width: thin;
    height:35px;
  
  
  }
  #add-estate .add-estate-form .addEstateDescription{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    width:80%;
  
  
  }

  #add-estate .add-estate-form .addEstateDescription textarea{
    width:100%;
    margin:0;
    padding:0;
    padding:5px;
    -webkit-box-shadow: border-box;
            box-shadow: border-box;
    margin-top: 10px;
    /*height:50px;*/
    border-bottom:solid 1px #007792;
   
    margin-bottom: 20px;
  }
  
  .SAVEMYESTATECTA{
    font-family: 'Roboto',sans-serif;
  
    display:block;
    background-color:lightseagreen;
    color:#FFF;
    height:35px;
    width:200px;
    margin:20px auto;
    line-height: 35px;
    text-align:center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border:1px solid lightseagreen;
  }
  
  .SAVEMYESTATECTA:hover{
    color:lightseagreen;
    background-color:#fff;
    border:1px solid lightseagreen;
  }
  
  .mat-tab-list {
    background-color: rgba(2, 6, 8, 0.2); /* 0.0 - transparent */  }
  /*app-main-menu {
    position: absolute;
    bottom: 0;
  }*/

  section#pageAdmin,#admin-content #admin-items {
    background: none !important;
    position: relative;
    /*height: 80vh !important;*/
  }

  #module_grid{    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  #module_grid div {
      margin: 2em 0.2em;
      text-align: center;
      width: 8em; 
  }

  .title {
    height: 3em;
    color: #fff;
    font-size: medium;
    
}
img {
    border: 5px solid  #558303;
}

@media only screen and (min-width: 481px) {
    #module_grid div {
        margin: 2em 2em;
        text-align: center;
        width: 8em; 
    }

    #FormTitle {
      color: #000;
      position: relative;
      left: 15%;
      margin-top: 1rem;
    }

}

#module_grid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;


  }
  #module_grid div {
      margin: 1em 2em;
    
  }

  .title {
    color: #fff;
    font-size: medium;
}
img {
    border: 5px solid  #558303;
}

#pageTitle{
  display: flex;
  justify-content: center;
  padding: 2em;

}

#trad {
  text-align: right;
}

.mat-toolbar.mat-primary{
  background: #fff !important;
  color: #000 !important;
}

.mat-icon.mat-primary  {
  color: #fff !important;
  margin-left: 15px !important;
}

div.containerVideo, div.containerphoto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerVideo .card-panel {
  padding: 0 !important;
}
.containerVideo, .containerphoto, .containerFiles{
  padding: 5px 5px;
  margin: 5vh 5vw;
}

mat-expansion-panel {
  margin: 5px 5px !important; 
}


.containerVideo iframe{
width: 100%;
}


mat-card {
  background: none !important;
  border-radius: 0px !important;
  padding: 0 !important;
}

.mat-slider-horizontal {
  min-width: 90px !important;
}

.mat-expansion-panel-content, div.mat-expansion-panel-body {
  padding: 0px 0px !important;
}

mat-card img {
  border: none !important;

}

mat-accordion {
  width: 90vw !important;
}

.mat-list-base .mat-list-item {
  background-color: #fff !important;
  color: #000 !important;
  margin: 5px auto !important;
  border-radius: 5px !important;
}

.colored{
  background-color: #558303 !important;
  color: #fff !important;
}

#homePage {
  margin: 0 auto !important;
  /*max-width: 1000px;*/
  min-height: 120vh;
  background-position:center center; 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image:url('src/assets/images/backround.JPG') !important;
}
/*
.mat-dialog-container {
  position: absolute;
  left: 0% !important; 
  border-radius: 4px;
  box-sizing: border-box;
  overflow:scroll;
  outline: 0;
  width: 100vw !important;
  min-width: 10vw !important;
  height: 100%;
  min-height: 100vw;
  max-height: inherit;
}*/

nav#guest-nav {
  background-color: rgba(0, 0, 255, 0) !important
}

label {
  font-size: 1rem !important;
  color: #000 !important;
}
#add-estate, .add-estate-form{ 
  width: 95%;
  margin: 2rem 2%;
  /*border-radius: 5%;*/
}

.add-estate-form {
  border: none;
}

.mat-select-value {
  color: #000 !important;
  margin-top: -1rem !important;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 3.125 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}



.ngx-pagination a, .ngx-pagination button {
  color: #fff !important;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
 
}

@media only screen and (min-width: 1000px) {
#admin-content {
  position: relative;
  width: 45vw;
}
.footerlist {
width: 50vw !important;
}
}

.mat-tab-header {
  background-color: #007470 !important;
}

/*Titre formulaire*/
#FormTitle {
  color: #000;
  position: relative;
  left: 45%;
  margin-top: 1rem;
}

@media only screen and (max-width: 481px) {
 
  #FormTitle {
    color: #000;
    position: relative;
    left: 30%;
    margin-top: 1rem;
  }

  .card-footer {
    position: absolute !important;
    top: 5% !important;
    margin: 4rem 1rem !important;
  }

  section#pageAdmin, #admin-content #admin-items {
    background: none !important;
    position: relative;
    height: 90vh !important;
    overflow-y: scroll;
   
}

}


@media only screen and (max-width: 1000px) {
  .card-footer {
    position: absolute !important;
    top: 5% !important;
    margin: 4rem 1rem !important;
  }
}

.mat-tab-body.mat-tab-body-active, .mat-tab-body-content {
  position: relative !important;
  /*overflow-x: hidden !important;*/
 overflow-y: hidden !important; 
  z-index: 1;
  flex-grow: 1;
}

.pagination li.active {
  background-color: #007470;
}

li a .first-item {
  content: "Premier" !important; 
}

.card-footer {
  position: absolute !important;
  top: -2% !important;
  margin: 4rem 1rem !important;
}

.mat-tab-nav-bar{
  z-index: 1 !important;
}


@media only screen and (max-width: 900px) {
  section#pageAdmin, #admin-content #admin-items {
    background: none !important;
    position: relative;
    height: 80vh !important;
    overflow-y: scroll;
   
}
  }



  @media only screen and (max-width: 400px) {
    .card-footer {
      position: absolute !important;
      top: -10% !important;
      
    }

 
    section#pageAdmin, #admin-content #admin-items {
      background: none !important;
      position: relative;
      height: 95vh !important;
      overflow-y: scroll;
      margin-top: 0.5rem !important;
     
  }
  
  }  

 

    
  .mat-dialog-container {   
    background-color: #fff !important;
    color: #000 !important;
}


#controls{
  width: 100%;
  text-align: center !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -ms-flex-align: center;
}

#controls a {
      padding: 0.5em;
      margin: 0.5em;
      background-color: #558303 !important;
}


