<app-menu></app-menu>
<section id="pageAdmin">   
    <div>        
        <div id="admin-content">
            <div id="admin-items">
                <h3 style="margin-top: 50px;">Gestion Modules</h3>
                <div>
                    <a [routerLink]="['/add-module']"  class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
                </div>
                <div *ngFor="let module of modules | paginate: config" class="adminItem">
                   
                    <p class="estateTitle">{{ module.name }}</p>                   
                    <input class="estateId" type="hidden" [value]="module.moduleId">
                    <div class="estateOptions">
                        <div (click)="editItem(module)" ><span class="material-icons">create</span></div>
                        <div (click)="goDetails(module)" ><span class="material-icons">visibility</span></div>
                        <div (click)="deleteFrom(module)"><span class="material-icons">clear</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>   
  
    
</section>
