<app-menu></app-menu>
<section id="pageAdmin">
    <div>        
        <div id="admin-content">
            <div id="admin-items">
                <h3 style="margin-top: 50px;">Gestion Vers</h3>
                <div>
                    <a [routerLink]="['/add-ver']"  class="btn-floating btn-large waves-effect waves-light plusIcon"><i class="material-icons">add</i></a>
                </div>
              
                <div *ngFor="let ver of pageOfItems" class="adminItem">                   
                    <p class="estateTitle">{{ ver.typeVers }}</p>       
                    <p class="estateTitle">{{ ver.texteVersAR1 }}</p>
                    <input class="estateId" type="hidden" [value]="ver.versId">
                    <div class="estateOptions">
                        <div (click)="editItem(ver)" ><span class="material-icons">create</span></div>
                        <div (click)="goDetails(ver)" ><span class="material-icons">visibility</span></div>
                        <div (click)="openModal(ver)"><span class="material-icons">clear</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)" [pageSize]="4"></jw-pagination>
    </div>
</section>
