.mat-dialog-container {
    position: absolute;
    left: 20% !important;
    top: 20% !important;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: scroll;
    outline: 0;
    width: 30vw !important;
    height: 50vh !important;
    background-color: #fff !important;
    color: #000 !important;
}