<section>
    <div id="add-estate">
      <div class="add-estate-form">
        <form class="col s12">         
          <div class="addEstateLine">
            <div class="addEstateItem"><label for="name">Nom</label>
              <input id="name" name="name" type="text" [(ngModel)]="object.name" required #name="ngModel"
                ng-minlength="25" maxlength="255">
            </div>   
            
            <div class="addEstateItem">
                <label class="active" for="link">Lien </label>
                <input id="link" name="link" type="text" [(ngModel)]="object.link"  #link="ngModel"
                ng-minlength="25" maxlength="255"/>
            </div>
           
          </div>
          <div class="addEstateLine">
            <div class="addEstateDescription">
              <label for="biography">Biographie</label> <textarea class="materialize-textarea"id="biography" name="biography" [(ngModel)]="object.biography" #biography="ngModel">
              Entrez votre Biographie
              </textarea>
            </div>
          </div>
          <div class="addEstateLine">
           
          </div>
         
          <a class="SAVEMYESTATECTA" (click)="uploadSubmit()" alt="Enregistrer"
            title="Enregistrer">Valider</a>
  
        </form>
      </div>
    </div>
  </section>
