@media only screen and (max-width: 900px) {
nav {
    position: fixed;
    bottom: 0;
}}
nav a {
    color: #fff;
    font-size: x-small;
    padding: 0 10px !important;
}
nav.mat-tab-nav-bar.mat-tab-header.mat-primary {
    background: none !important ;
}

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: none !important;
}