@media only screen and (max-width: 900px) {
    #backClicked {
        display: none;
    }    
nav {
    position: fixed;
    bottom: 0;
}}
nav a {
    color: #fff;
    font-size: 0.6em;
    padding: 0 2px !important;
    font-weight: 900;
}
nav.mat-tab-nav-bar.mat-tab-header.mat-primary {
    background: none !important ;
}

.mat-tab-nav-bar, .mat-tab-header, .mat-tab-link-container {
    background-color: transparent !important;
    border-bottom: none !important;
}

