
.mat-expansion-panel {
    margin-top: 1.5em;
    background-color: rgba(2, 6, 8, 0.2); /* 0.0 - transparent */
}
.colored{
    background-color: #558303 !important;
    color: #fff !important;
}
.mat-expansion-panel p {
    margin-top: 2.5em;
}

#pageTitle{
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }

 #pageTitle span {
     font-size: 40px;
 } 

  #meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000;
  }
   #meta a, a:active, a:hover {
       color: #fff;
       margin: 5px 10px;
   }

   div.collection {
    margin: 1em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.7em;
    padding: 0.1em 0.2em;

  }
 

 .simple {    
    background-color: #FFF;
    color: #000 !important;
 }
 div p {
   margin: 0.5em 0.5em !important;
 }

 section {
   margin: 2rem auto !important;
   text-align: center;
 }

 @media only screen and (min-width: 800px) {
  div.collection {
       width: 600px !important;   
      margin: 2vh auto !important;  
      padding: 1em 0.2em;
      font-size: 18px !important; 
  }

}

.collection span {
    font-family: 'Traditional Arabic' !important;
}
