<div id="pageTitle">
    <div>
      <img [src]="api.getImage(object.name)"  class="circle module"  width="100" height="100"/>
    </div>
    <div>
      <h1 *ngIf="object.traductions">{{object.traductions?.name}}</h1>
      <hr style="height: 2px; color: #839D2D; background-color: #839D2D; width: 100%; border: none;"/>
      <h1>{{ object.name }}</h1>
    </div>
</div>

    <mat-accordion>
        <mat-expansion-panel hideToggle  *ngFor="let oeuvre of oeuvres; let i">
          <mat-expansion-panel-header [ngClass]="{'colored': i % 2 != 0}">
            <mat-panel-title>
               {{oeuvre.titreOeuvre}}
            </mat-panel-title>
            <mat-panel-description>
                {{oeuvre.titre}} 
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div id="meta"><a><span class="material-icons">volume_up</span></a>
          <a><span class="material-icons">play_arrow</span></a>
          <a><span class="material-icons">picture_as_pdf</span></a>
          <a [href]="oeuvre.urlOeuvre"><span class="material-icons">public</span></a>
          <a><span class="material-icons">description</span></a></div>
          <p> {{oeuvre.premierVers}}</p>
        </mat-expansion-panel>       
      </mat-accordion>