.mat-expansion-panel {
    margin-top: 1.5em;
    background-color: rgba(2, 6, 8, 0.2); /* 0.0 - transparent */
}
.colored{
    background-color: green !important;
    color: #fff;
}
.mat-expansion-panel p {
    margin-top: 2.5em;
}

#pageTitle{
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }

  #meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000;
  }
   #meta a, a:active, a:hover {
       color: #fff;
       margin: 5px 10px;
   }
   pdf-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
  }

 