.mat-expansion-panel {
    margin-top: 1.5em;
    background-color: rgba(2, 6, 8, 0.2); /* 0.0 - transparent */
}
.colored{
    background-color: green !important;
    color: #fff;
}
.mat-expansion-panel p {
    margin-top: 2.5em;
}

#pageTitle{
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }
  
