.disabled {
    display: none !important;
  }

  #controls a {
    background-color: #007470 !important;
}

table {
  background-color: #007470 !important;

}

th, td, tr {
  margin: 5px 15px !important;
}